<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/mobile.css">
    <title>Meu portfolio</title>
</head>

<body>
    <header>
        <div class="menu_inicial">
            <div class="principal_title">
                <h1 id="titulo_principal">Gustavo Lohmann Linz</h1>
            </div>
            <div class="list_menu">
                <ul>
                    <li>
                        <button class="sobre">sobre</button>
                    </li>
                    <li>
                        <button class="projetos">projetos</button>
                    </li>
                    <li>
                        <button class="contacts">contato</button>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!--fim do header-->
    <main>
        <section class="section_principal">
            <div class="apresentacao">
                <div class="WhatDoIdo">
                    <h1 id="conhecimentos">Conhecimentos</h1>
                    <div class="ancora">
                        <div class="progresso">
                            <div class="categoria">
                                <p id="habi">JavaScript e php</p>
                                <p id="habi">Html e css</p>
                                <p id="habi">Banco de dados Mysql</p>
                            </div>
                            <div class="bar_skill">
                                <div id="skill" class="alert_1"></div>
                                <div id="skill" class="alert_2"></div>
                                <div id="skill" class="alert_3"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="WhoIam">
                    <h1>Quem sou eu ?</h1>
                    <p style="letter-spacing: 5px">Estudante de programação apaixonado por tecnologia, programando desde
                        dos
                        meus 19 anos de idade,o que
                        começou por pura curiosidade acabou se transformando na minha carreira.
                    </p>
                </div>
                <div class="MyExperience">
                    <h1>Vamos trabalhar juntos ?</h1>
                    <p style="letter-spacing: 5px">
                        Estou buscando pessoas ou empresas que precisem de programadores para as suas ideias, ou
                        projetos em
                        andamento acredito no hard work, o seu site ou projeto feito a mão com a melhor qualidade que um
                        Programador pode entregar.
                    </p>
                </div>
            </div>
        </section>
        <!--fim da sectio principal-->
        <section class="section_produtos">

            <div class="btn_hidden_tec">
                <button class="hidden_tec_btn"><i class="fa-solid fa-arrow-right"></i></button>
            </div>

            <header>
                <h1 class="titulo_produto">Produtos criados</h1>
            </header>
            <div class="img-projeto">
                <div class="img_apresentacao">
                    <img id="img_projeto_" src="../img/home.png" alt="home">
                    <img id="img_projeto_" src="../img/portfolio.png" alt="portfolio">
                </div>
                <div class="lista_tecnologia">
                    <div class="hidden">
                        <button class="list_hidden"><i class="fa-solid fa-arrow-left"></i></button>
                    </div>
                    <ul>
                        <h2 id="tec_usadas">Tecnologias usadas</h2>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>PROJETO DE APRENDIZADO</li>
                    </ul>
                </div>
            </div>
            <!--fim  section_produtos-->
        </section>
        <section class="section_contato">
            <header>
                <h2 class="contato_titulo">Entre em contato</h2>
            </header>
            <div class="contato">
                <p><i class="fa-brands fa-whatsapp"></i>19-995604044</p>
                <p><i class="fa-solid fa-envelope"></i>gustavolohmannlinz@gmail.com</p>
            </div>
        </section>
        <!--fim contato-->
    </main>
    <!--fim do main-->
    <footer>
        <div class="up">
            <button class="up_to"><i class="fa-solid fa-arrow-up"></i></button>
        </div>
        <div class="rodape">
            <ul>
                <li><a href="https://www.linkedin.com/in/gustavo-lohmann-linz-763780209/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="https://github.com/gustavolohmann/"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </div>
    </footer>
    <!--fim do rodapé-->
    <script src="../js/index.js"></script>
    <script src="../js/funcionalidadesMobile.js"></script>
</body>

</html>